In [30]:
#import libraries

import pandas as panda
import requests
from bs4 import BeautifulSoup

In [31]:
# send request

url = 'https://www.bankbazaar.com/reviews.html'
page = requests.get(url)
soup = BeautifulSoup(page.text,'html.parser')

In [32]:
#read review text
rev_txt = []
review_text_ele = soup.find_all(class_ ='text_here review-desc-more')

for item in review_text_ele:
    rev_txt.append(item.text)

In [33]:
#read auther name
user_name = []
user_name_elem = soup.find_all(class_='js-author-name')
for item in user_name_elem:
    user_name.append(item.text)

In [34]:
#read bank name
bank_name=[]
bank_name_ele = soup.find_all('div',{'itemprop':'itemReviewed'})

for item in bank_name_ele:
    bank_name.append(item.find('img').get('alt'))

In [37]:
#create dataframe

final_array =[]
for text,user,bank in zip(rev_txt,user_name,bank_name):
    final_array.append({'Review_Text':text,'User':user,'Bank':bank})
    
df=panda.DataFrame(final_array)
df

,Bank,Review_Text,User
0,Bajaj Allianz,\n I haven take...,SIDDHU YALAPPA KENGAR
1,Axis Bank,\n I have Axis ...,SIDDHU YALAPPA KENGAR
2,HDFC Bank,\n I have HDFC ...,SIDDHU YALAPPA KENGAR
3,Axis Bank,\n I have Axis ...,SIDDHU YALAPPA KENGAR
4,Bank Bazaar,\n I came to kn...,SIDDHU YALAPPA KENGAR
5,IndusInd Bank,\n I have Indus...,SIDDHU YALAPPA KENGAR
6,HDFC Ergo,\n I have taken...,NAEEM SHAIKH SHAIKH
7,Reliance General,\n I have take...,NAEEM SHAIKH SHAIKH
8,Max,\n I have taken...,NAEEM SHAIKH SHAIKH
9,review,\n I am using P...,NAEEM SHAIKH SHAIKH
10,HDFC Bank,\n I am having ...,NAEEM SHAIKH SHAIKH
11,Axis Bank,\n I am having ...,NAEEM SHAIKH SHAIKH
12,Bank Bazaar,\n I came to kn...,NAEEM SHAIKH SHAIKH
13,IndusInd Bank,\n I have Indus...,NAEEM SHAIKH SHAIKH
14,HDFC Bank,\n I have HDFC ...,TABREZ PASHA
15,Kotak,\n I have Kotak...,TABREZ PASHA
16,SBI Cards,\n I have State...,TABREZ PASHA
17,Bank Bazaar,\n I came to kn...,TABREZ PASHA
18,IndusInd Bank,\n I have Indus...,TABREZ PASHA
19,review,\n I am using f...,DEEPAK RAJESH TIWARI